$secondBlockColor: #709dca;
$buttonColor: #ffc155;
$buttonFontFamily: "Lato-Regular";

.footer {
    display: flex;
    justify-content: center;

    font-family: $buttonFontFamily;

    font-size: 10px;
    text-transform: uppercase;

    @media (max-width: 768px) {
        flex: 1 0 auto;
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        flex: 1 0 auto;
    }

    &__top-footer {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 100%;
        background: white;

        padding: 5px 0 25px 0;

        .contacts-block,
        .telephone {
            margin: 0px 0px 13px 0px;
        }

        @media (min-width: 320px) and (max-width: 900px) {
            max-width: 90%;
        }
    }

    &__bottom-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $secondBlockColor;

        text-transform: none;
        color: white;

        p {
            @include adaptiv-font(11, 10);
            margin: 15px 0px 15px 0px;

            @media (max-width: 500px) {
                width: 90%;
                line-height: 1.5;
            }
        }
    }
}
.contacts-block {
    font-family: "Lato";
    display: flex;
    justify-content: center;

    &__body {
        display: flex;
    }

    &__list {
        display: flex;

        @media (min-width: 500px) and (max-width: 900px) {
            flex-flow: row wrap;
            justify-content: center;
        }
        @media (min-width: 320px) and (max-width: 500px) {
            flex-flow: row wrap;
            justify-content: space-between;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 15px;
            cursor: pointer;

            font-weight: 600;
            color: rgb(22, 22, 22);

            &:hover {
                transition: all 0.15s ease 0s;
                color: white;
                background-color: $buttonColor;
            }

            @media (min-width: 500px) and (max-width: 900px) {
                flex-grow: 1;
            }
            @media (min-width: 320px) and (max-width: 500px) {
                flex: 0 0 50%;
                flex-grow: 1;
            }
        }
    }
}
.telephone {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;

    color: black;

    &:hover {
        text-decoration: underline;
    }

    picture {
        height: 10px;
        object-fit: fill;
        margin-right: 6px;
        img {
            height: 13px;
        }
    }

    span {
        &::before {
            content: "+";
        }
    }
}
.socials {
    &__body {
        text-align: center;
    }

    &__item {
        display: inline-block;
        height: 13px;
        padding: 5px;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        @media (min-width: 320px) {
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
}
