@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
$maxWidth: 850;
$buttonColor: #ffc155;
$buttonFontFamily: "Lato";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    @include adaptiv-font(11, 11);
    font-family: $buttonFontFamily;

    background: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $maxWidth + px;
        min-height: 70px;

        text-transform: uppercase;

        @media (min-width: 1300px) {
            width: 80%;
        }
        @media (min-width: 320px) and (max-width: $maxWidth + 30 + px) {
            width: 98%;
        }
    }
}

.navmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media (min-width: 320px) and (max-width: 768px) {
        height: 50px;
    }
    @media (max-width: 765px) {
        flex: 1 0 auto;
    }

    &__body {
        display: flex;
        height: 100%;
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
    }
    #navmenu-position-container {
        position: relative;
        padding: 0px 0px 0px 0px;
        &:hover {
            background: none;
            color: #868686;
        }
    }

    .list {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        height: 100%;

        li {
            color: #868686;
            height: 100%;
            min-width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px;

            transition: all 0.15s ease 0s;

            &:hover {
                color: white;
                background-color: $buttonColor;
            }
            @media (min-width: 320px) and (max-width: 350px) {
                font-size: 10px;
            }
        }
    }

    .notepad-list {
        @extend .list;

        display: none;
        position: relative;

        .show-button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            padding: 0px 10px 0px 10px;
            transition: all 0.3s ease 0s;

            &::after {
                display: inline-block;
                position: relative;
                top: 0;
                right: -5px;
                content: "";

                height: 4px;
                width: 4px;
                border-top: 1.5px solid black;
                border-right: 1.5px solid black;
                transform: rotate(135deg);

                transition: all 0.3s ease 0s;
            }
            &:hover {
                color: #868686;
                background: none;
            }
            &.active {
                color: white;
                background-color: $buttonColor;

                &::after {
                    border-top: 1.5px solid white;
                    border-right: 1.5px solid white;

                    transform: rotate(-45deg);
                }
            }
        }
    }

    .navmenu__submenu {
        @extend .list;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        position: absolute;
        height: 30vh;
        min-width: 300px;
        top: 100%;
        right: 0;

        overflow: auto;
        background: rgb(240, 239, 239);

        li {
            flex: 1 0 auto;
            max-height: 50%;
            a {
                padding: 15px 15px 15px 15px;
            }
        }

        &._active {
            visibility: visible;
            opacity: 1;
        }
    }

    @media (max-width: 765px) {
        .list {
            display: none;
        }
        .notepad-list,
        .navmenu__submenu {
            display: flex;
        }
        .navmenu__submenu {
            visibility: hidden;
            opacity: 0;
        }
    }
}
.logo {
    z-index: 2;
    padding: 0px 3px 0px 0px;
    img {
        width: 40px;
        height: 40px;
    }
}
