@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@import "nullstyle";
@import "form";
@import "fonts";
@import "iconFonts";
@import "header";
@import "footer";

$mainFontFamily: "Open Sans";
$hFontFamily: "Gotham Black bold";
$subhFontFamily: "Open Sans";
$buttonFontFamily: "Lato";
$spanFontFamily: "Lato Bold";
$otherFontFamily: "Lato";
$maxWidth: 850;
$backColor: #ffffff;
$buttonColor: #ebb14d;
$firstBlockColor: #050505;
$secondBlockColor: #709dca;

$fontColor: black;
$secondaryFontColor: #7b7b7b;

$planFontColor: #818b95;
$planSecondFontColor: #b5bbc1;

body {
    height: 100%;
}
.main {
    justify-content: center;
    min-width: 0;

    &__body {
    }
}

.make-request {
    position: relative;
    background-color: $secondBlockColor;

    &.info-block {
        display: block;
        @media (min-width: 900px) {
            padding-top: 70px;
            padding-bottom: 0px;
        }

        .info-block__body {
            display: block;
            justify-content: start;

            .info-block__content {
                margin: 0 auto;
            }
        }
    }

    &__body {
        position: relative;
        flex-flow: column nowrap;
        justify-content: center;
    }

    h1,
    span {
        color: white;
    }

    .present-slider {
        transform: translate(0, 40px);

        @media (min-width: 320px) and (max-width: 900px) {
            display: none;
        }
        .swiper-pagination {
            position: static;
            padding: 20px 0px 0px 0px;
            &-bullet {
                height: 10px;
                width: 10px;
                background-color: #fff;
                border: 2px solid gray;
                border-radius: 50%;
                transition: all 0.2s ease;

                &-active {
                    border-color: rgb(28, 168, 221);
                }
                &:hover {
                    border-color: rgb(1, 31, 112);
                }
            }
        }
    }

    &__present-image {
        height: 250px;
        width: 500px;
    }
}

.our-services {
    &__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @media (min-width: 1300px) {
            width: $maxWidth + px;
        }
        @media (min-width: 320px) and (max-width: 900px) {
            width: 90%;
        }
    }

    @media (min-width: 900px) {
        .info-block__body {
            padding: 80px 0px 55px 0px;
        }
    }
    @media (min-width: 32px) and (max-width: $maxWidth + px) {
        h2 {
            padding: 0px 0px 30px 0px;
        }
    }
}
.service {
    display: flex;
    text-align: left;
    flex: 1 0 45%;
    max-width: 400px;
    position: relative;

    @media (min-width: 425px) {
        padding: 25px 20px 25px 0px;
    }

    @media (min-width: 320px) and (max-width: 425px) {
        flex-flow: column nowrap;
        padding: 25px 6px 25px 6px;
    }

    &__image {
        transform: translate(-100%, 0px);
        opacity: 0;
        transition: all 1.5s ease;
        padding: 0px 0px 10px 0px;
        min-width: 65px;

        @media (min-width: 320px) and (max-width: 425px) {
            text-align: center;
        }

        img {
            width: auto;
            height: 35px;
        }
    }

    &__info {
        transform: translate(-100%, 0px);
        opacity: 0;
        transition: all 1.5s ease;
        @media (min-width: 320px) and (max-width: 425px) {
            text-align: center;
        }
        .service__title {
            @include adaptiv-font(12, 12);
            flex: 1 0 auto;

            text-transform: uppercase;
            line-height: 1.2;
            font-family: $spanFontFamily;
            font-weight: 700;
            color: #394b50;

            margin: 0px 0px 10px 0px;
        }

        p {
            font-family: $otherFontFamily;
            line-height: 1.7;
            @include adaptiv-font(12, 12);
            color: #7b7b7b;
        }
    }

    &.visible {
        .service {
            &__image {
                transform: translate(0%, 0px);
                opacity: 1;
            }
            &__info {
                transform: translate(0%, 0px);
                opacity: 1;
            }
        }
    }
}

.about-us {
    $toMobileWidth: 870px;
    position: relative;

    background-color: $buttonColor;
    color: white;

    @media (min-width: 320px) and (max-width: $toMobileWidth) {
        background: none;
    }

    .info-block {
        padding: 0px 0px 0px 0px;
        &__body {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    &__content {
        transform: translate(-100%, 0px);
        opacity: 0;
        transition: all 1s ease;
        display: flex;
        flex: 0 0 50%;
        flex-flow: column nowrap;
        text-align: left;

        padding: 10px 10px 10px 50px;

        @media (min-width: 320px) and (max-width: $toMobileWidth) {
            text-shadow: 0px 0px 5px black, 0 0 0.1em black;

            flex: 1 0 100%;
            padding: 20px 20px 20px 20px;
        }

        &.visible {
            transform: translate(0%, 0px);
            opacity: 1;
        }

        * {
            padding-bottom: 25px;
        }
        p {
            @include adaptiv-font(12, 12);
            line-height: 1.85;
            font-family: $subhFontFamily;
        }
    }

    &__image {
        flex: 0 0 50%;

        @media (min-width: 320px) and (max-width: $toMobileWidth) {
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
            background: url("../images/about-us-img.jpg") no-repeat center/ cover;
            width: 100%;
            height: 100%;
            filter: blur(2px);

            img {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    a {
        display: inline-flex;
        width: 120px;
        height: 30px;
        padding: 0px 0px 0px 0px;

        background: rgb(231, 166, 44);

        &:hover {
            color: black;
            filter: brightness(92%);
        }
        &:active {
            filter: brightness(80%);
            color: black;
        }

        @media (min-width: 320px) and (max-width: $toMobileWidth) {
            text-shadow: none;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        }
    }
}

.choose-your-price {
    background: #e7edf3;

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;

        @media (min-width: 320px) and (max-width: 650px) {
            flex-flow: column nowrap;
            width: 90%;
        }
    }
}
.business-plan {
    $toMobileWidth: 650px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e7edf3;

    font-family: Lato;
    text-transform: uppercase;
    @include adaptiv-font(11, 12);

    height: 360px;

    @media (min-width: 651px) and (max-width: 850px) {
        width: 100%;
    }
    @media (min-width: 320px) and (max-width: $toMobileWidth) {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid rgb(179, 179, 179);

        &:last-child {
            border: none;
        }
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        height: 330px;
        width: 270px;

        background: white;

        transition: all 0.1s ease 0s;

        @media (min-width: 651px) and (max-width: 850px) {
            width: 100%;
        }
        @media (min-width: 320px) and (max-width: $toMobileWidth) {
            height: 100%;
            width: 100%;
        }

        @media (min-width: 426px) {
            &:hover {
                background: #709dca;
                height: 100%;

                *,
                ::after,
                ::before {
                    color: white;
                }
            }
        }

        * {
            padding: 10px 10px 10px 10px;
        }
    }

    &__name {
        color: #818b95;
        height: 2rem;

        @media (min-width: 320px) and (max-width: 426px) {
            color: rgb(70, 70, 70);
        }
    }

    &__price {
        @include adaptiv-font(40, 40);
        font-weight: 600;
        color: #ffbb42;

        &::before {
            position: relative;
            bottom: 30%;
            font-size: 20px;
            content: ("$");
        }
        &::after {
            display: block;

            font-weight: 400;
            font-size: 10px;
            color: #b5bbc1;

            content: ("per month");

            @media (min-width: 320px) and (max-width: 426px) {
                color: rgb(82, 82, 82);
            }
        }
    }

    ul {
        li {
            border-top: 1px solid #b5bbc1;
            min-height: 30px;
            max-height: 30px;
            padding: 0;
            @include adaptiv-font(11, 12);

            display: flex;
            justify-content: center;
            align-items: center;

            color: #b5bbc1;

            &:hover {
                cursor: default;
            }

            @media (min-width: 320px) and (max-width: 426px) {
                color: rgb(70, 70, 70);
            }
        }
    }

    &__get-started {
        background: #ffbb42;
        min-width: 100px;
        height: 30px;
        padding: 10px 0px 10px 0px;
        margin: 10px 0px 0px 0px;

        @include adaptiv-font(11, 11);

        &:hover {
            filter: brightness(90%);
            color: black;
        }

        @media (min-width: 320px) and (max-width: 426px) {
            color: rgb(70, 70, 70);
        }
    }
}

.how-it-works {
    $toMobileWidth: 1101px;

    .info-block__body {
        width: 1100px;

        @media (min-width: 320px) and (max-width: $toMobileWidth) {
            width: 95%;
        }
    }

    &__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        margin: 50px 0px 20px 0px;

        @media (min-width: 320px) and (max-width: 768px) {
            margin: 10px 0px 0px 10px;
        }
    }

    &__get-start {
        width: 140px;
        height: 30px;

        font-size: 11px;
    }
}
.step {
    &__body {
        transform: translate(0%, 50px);
        opacity: 0;
        transition: all 3s ease;

        display: flex;
        justify-content: center;
        align-items: center;

        flex-flow: column nowrap;

        width: 170px;

        padding: 10px 10px 35px 10px;
    }

    &__image {
        width: 80%;

        margin: 0px 0px 60px 0px;

        @media (min-width: 320px) and (max-width: 726px) {
            margin: 0px 0px 30px 0px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-family: $spanFontFamily;

        margin: 0px 0px 20px 0px;
    }

    &__about {
        @include adaptiv-font(11, 12);
        line-height: 1.5;
        font-family: $mainFontFamily;
    }

    &.visible {
        .step__body {
            transform: translate(0%, 0px);
            opacity: 1;
        }
    }
}
.arrow-top {
    $toMobileWidth: 1080px;

    position: relative;
    top: -20px;

    width: 100px;

    background: url("../images/icons/stepTopArrows.jpg") no-repeat 0 0 / contain;

    @media (min-width: 320px) and (max-width: $toMobileWidth) {
        display: none;
    }
}
.arrow-bottom {
    @extend .arrow-top;

    background-position: center;

    transform: rotate(178deg);
}

.happy-clients {
    background: $buttonColor;
    color: white;

    &__body {
        display: flex;
        flex-flow: row wrap;
    }
}
.client {
    display: flex;
    flex: 1 0 47%;

    padding: 30px 30px 30px 30px;
    margin: 10px 10px 10px 10px;

    transform: translate(0%, 100px);
    opacity: 0;
    transition: all 1s ease;
    background: white;

    &:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    &__image {
        padding: 0px 20px 0px 0px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    &__review {
        position: relative;

        text-align: left;
        font-family: "Open Sans";
        color: #7b7b7b;
        @include adaptiv-font(11, 10);
        line-height: 1.69;

        &::before {
            position: absolute;
            left: -15px;
            top: -9px;

            font-size: 18px;

            content: ("❛❛");
            height: 17px;
        }
        &::after {
            position: absolute;
            bottom: -10px;
            right: -9px;

            font-size: 18px;
            content: ("\00a0❛❛");

            transform: rotate(180deg);

            @media (min-width: 320px) and (max-width: 426px) {
                bottom: -6%;
            }
        }
    }
    &__about-author {
        text-align: left;
        padding: 10px 0px 0px 0px;
    }

    &__name {
        font-family: "Lato";
        color: #f6772c;
        text-transform: uppercase;
        @include adaptiv-font(11, 10);

        &::after {
            content: (",");
        }
    }
    &__profession {
        @extend .client__name;
        color: #99a9ae;
    }

    &.visible {
        transform: translate(0%, 0px);
        opacity: 1;
    }
}

.newsletter {
    .container {
        border-bottom: 1px solid #e3e7ec;
        padding: 0px 0px 50px 0px;
    }

    &__body {
        background: url("../images/worldBGD.jpg") no-repeat center/ contain;

        width: $maxWidth + px;
        height: 350px;

        @media (min-width: 320px) and (max-width: $maxWidth + px) {
            width: 100%;
        }
        @media (max-width: 500px) {
            background: url("../images/worldBGD.jpg") no-repeat center/ cover;
            height: 300px;
        }
    }
    form {
        @media (min-width: 320px) and (max-width: 900px) {
            flex-flow: row wrap;
        }
        input {
            box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
        }
    }
}
.contacts-picture {
    position: relative;
    background: url("../images/adressBGD.svg") no-repeat center/ cover;

    top: 15px;
    width: 220px;
    height: 230px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &__contacts {
        display: flex;
        flex-flow: column nowrap;
        width: 85%;
        transform: translate(0px, -7%);

        color: white;
        font-family: $spanFontFamily;

        h4 {
            padding: 0px 0px 10px 0px;
            text-transform: uppercase;
            @include adaptiv-font(11, 12);
            font-family: $spanFontFamily;
        }
        span {
            letter-spacing: 0.5px;
            padding: 0px 0px 10px 0px;
            @include adaptiv-font(11, 11);
            font-family: "Open Sans";
            color: #aeb7ba;
            font-weight: 200;
        }
    }

    &__email {
        @include adaptiv-font(11, 10);
        font-family: "Open Sans";

        text-decoration: none;
        color: #ffbb42;

        &:hover {
            color: wheat;
        }
        &:active {
            background: none;
        }
    }

    &__logo {
        position: absolute;
        top: 100%;
        left: 43%;
        width: 35px;
        height: 35px;
    }
}

.container {
    margin: 0 auto;
    @media (min-width: 1300px) {
        width: 90%;
    }
    @media (min-width: 890px) and (max-width: 1299px) {
        width: $maxWidth + px;
    }

    @media (min-width: 320px) and (max-width: 890px) {
        width: 95%;
    }
}
.info-block {
    display: flex;
    min-width: 0;
    justify-content: center;
    text-align: center;

    @media (min-width: 768px) {
        min-height: 430px;
        padding: 35px 0px 35px 0px;
    }
    @media (min-width: 320px) and (max-width: 768px) {
        padding: 25px 0px 20px 0px;
        min-height: auto;
    }

    &__body {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    &__content {
        @media (min-width: 425px) and (max-width: 900px) {
            width: 70%;
        }
        @media (max-width: 425px) {
            width: auto;
        }
    }
    &__subtitle {
        padding: 0px 0px 20px 0px;
    }
}

h1,
h2 {
    display: block;
    font-family: $hFontFamily;
    text-transform: uppercase;
    line-height: 2;
}

h1 {
    letter-spacing: -0.3px;
    @include adaptiv-font(20, 15);
    font-weight: 700;
}
h2 {
    line-height: 1.5;
    @include adaptiv-font(17, 15);
    font-weight: 500;
}
span {
    @include adaptiv-font(13, 12);
    letter-spacing: -0.4px;
    display: inline-block;
    font-family: "Lato";
}
