* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
.form .submit-button,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear,
.form .submit-button::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Black bold";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Light";
  font-display: swap;
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}

.icon-mail:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(7px + 2 * ((100vw - 320px) / 530));
  font-family: "Lato";
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 850px;
  min-height: 70px;
  text-transform: uppercase;
}

.fixed-header {
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #e9e8e8;
}

.fixed-header::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background: #e9e8e8;
  z-index: 2;
}

.header__burger {
  display: none;
  border-radius: 0px;
  background-color: transparent;
}

.header__burger.burger-black {
  border-color: black;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.burger-black span {
  background-color: black;
}

.header__burger.active {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 30px;
  -webkit-transform: rotateZ(450deg);
      -ms-transform: rotate(450deg);
          transform: rotateZ(450deg);
}

.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu .list,
.navmenu .notepad-list,
.navmenu .navmenu__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu .list li,
.navmenu .notepad-list li,
.navmenu .navmenu__submenu li {
  padding-right: 8px;
}

.navmenu .list li:last-child,
.navmenu .notepad-list li:last-child,
.navmenu .navmenu__submenu li:last-child {
  padding: 0px 0px 0px 0px;
}

.navmenu .list li a,
.navmenu .notepad-list li a,
.navmenu .navmenu__submenu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 50px;
  padding: 10px;
  text-decoration: none;
  color: #868686;
}

.navmenu .list li a:hover,
.navmenu .notepad-list li a:hover,
.navmenu .navmenu__submenu li a:hover {
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  color: white;
  background-color: #ffc155;
}

.navmenu .notepad-list {
  display: none;
  position: relative;
}

.navmenu .notepad-list .show-button::after {
  content: "";
  margin: -2px 0 0 5px;
  height: 4px;
  width: 4px;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navmenu .notepad-list .show-button:hover {
  color: #868686;
  background: none;
}

.navmenu .notepad-list .show-button.active {
  color: white;
  background-color: #ffc155;
}

.navmenu .notepad-list .show-button.active::after {
  margin: 2px 0 0 5px;
  border-top: 1.5px solid white;
  border-right: 1.5px solid white;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navmenu .navmenu__submenu {
  position: absolute;
  top: 50px;
  right: 8px;
  background-color: #f0efef;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 320px;
  padding: 10px;
}

.navmenu .navmenu__submenu li {
  padding: 0px 0px 0px 0px;
  min-height: 50px;
}

.navmenu .navmenu__submenu._active {
  visibility: visible;
  opacity: 1;
}

.logo {
  z-index: 2;
}

.logo img {
  width: 40px;
  height: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  font-family: "Lato-Regular";
  line-height: 1;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer__top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  background: white;
  padding: 25px 0 25px 0;
}

.footer__top-footer .contacts-block,
.footer__top-footer .telephone {
  margin: 0px 0px 13px 0px;
}

.footer__bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #709dca;
  text-transform: none;
  color: white;
}

.footer__bottom-footer p {
  font-size: 10px;
  margin: 15px 0px 15px 0px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-block__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block__list li a {
  display: block;
  text-align: center;
  padding: 15px;
  width: 100%;
  font-weight: 600;
  color: #161616;
}

.contacts-block__list li a:hover {
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  color: white;
  background-color: #ffc155;
}

.telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  color: black;
}

.telephone picture {
  height: 10px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-right: 6px;
}

.telephone picture img {
  height: 13px;
}

.telephone span::before {
  content: "+";
}

.telephone span:hover {
  text-decoration: underline;
}

.socials__body {
  text-align: center;
}

.socials__item {
  display: inline-block;
  margin: 5px;
}

.socials .facebook img {
  width: 8px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.make-request {
  position: relative;
  background-color: #709dca;
}

.make-request__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.make-request h1,
.make-request span {
  color: white;
}

.make-request__present-image {
  position: absolute;
  top: 80px;
  left: 20%;
  height: 250px;
  width: 500px;
}

.our-services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  max-width: 400px;
  position: relative;
  margin: 25px 15px 25px 0px;
}

.service__image {
  padding: 0px 0px 10px 0px;
  min-width: 65px;
}

.service__image img {
  width: auto;
  height: 35px;
}

.service__info .service__title {
  font-size: calc(8px + 4 * ((100vw - 320px) / 530));
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-weight: 700;
  color: #394b50;
  margin: 0px 0px 10px 0px;
}

.service__info p {
  font-family: "Lato";
  line-height: 1.7;
  font-size: calc(8px + 2 * ((100vw - 320px) / 530));
  color: #7b7b7b;
}

.button {
  background-color: #ebb14d;
  color: white;
  text-align: center;
  width: 83px;
  height: 17px;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 8px;
  border-radius: 1px;
}

.button-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #b9902f;
}

.button-container .button {
  position: relative;
  bottom: 2px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.button-container .button:hover {
  background-color: #ffc94d;
}

.button-container .button:active {
  bottom: 0;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.info-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__content {
  margin: 20px 0px 0px 0px;
}

.info-block h1,
.info-block h2 {
  display: block;
  font-family: "Gotham Black bold";
  text-transform: uppercase;
  line-height: 1.2;
}

.info-block h1 {
  letter-spacing: -0.8px;
  font-size: calc(8px + 17 * ((100vw - 320px) / 530));
  font-weight: 700;
}

.info-block h2 {
  line-height: 1.5;
  font-size: calc(8px + 12 * ((100vw - 320px) / 530));
  font-weight: 500;
}

.info-block span {
  font-size: calc(8px + 4 * ((100vw - 320px) / 530));
  letter-spacing: -0.8px;
  line-height: 1.2;
  display: inline-block;
  font-family: "Open Sans";
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form i::before {
  position: relative;
  left: 15px;
  width: 0;
}

.form input,
.form .submit-button {
  height: 35px;
  width: 210px;
  font-size: 10px;
  font-family: "Open Sans";
  padding: 10px 10px 10px 30px;
  margin: 8px 0px 8px 6px;
  border-radius: 2px;
}

.form input:focus,
.form .submit-button:focus {
  background: #dadada;
}

.form .submit-button {
  padding: 0px 0px 0px 0px;
  width: 160px;
  text-transform: uppercase;
  color: white;
  font-family: "Lato";
  background: #ebb14d;
}

.form .submit-button:hover {
  color: #3d3d3d;
}

.form .submit-button:active {
  background: #e9ab40;
  color: gray;
}

.form .submit-button:focus {
  background: #ebb14d;
}

@media (min-width: 425px) {
  .socials__item img {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 768px) {
  .info-block {
    min-height: 430px;
    padding: 70px 0px 100px 0px;
  }
}

@media (min-width: 1300px) {
  .header__body {
    width: 80%;
  }

  .our-services__body {
    width: 850px;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .info-block__content {
    width: 70%;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .form input,
  .form .submit-button,
  .form i,
  .form .button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .form i::before {
    left: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 661px) {
  .navmenu {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .navmenu .list,
  .navmenu .notepad-list,
  .navmenu .navmenu__submenu {
    display: none;
  }

  .navmenu .notepad-list,
  .navmenu .navmenu__submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navmenu .navmenu__submenu {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    margin: 0px 16px 0px 0px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .header__burger span {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.2em;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

@media (max-width: 500px) {
  .footer__bottom-footer p {
    width: 90%;
    line-height: 1.5;
  }
}

@media (max-width: 430px) {
  .header__burger {
    width: 35px;
    height: 20px;
  }
}

@media (min-width: 320px) and (max-width: 880px) {
  .header__body {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .navmenu {
    height: 50px;
  }

  .info-block {
    padding: 20px 0px 20px 0px;
    min-height: auto;
  }
}

@media (min-width: 320px) and (max-width: 900px) {
  .footer__top-footer {
    max-width: 90%;
  }

  .make-request__present-image {
    display: none;
  }

  .our-services__body {
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .contacts-block__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts-block__list li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .form input,
  .form .submit-button,
  .form .button {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .contacts-block__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts-block__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .service__image {
    text-align: center;
  }

  .service__info {
    text-align: center;
  }
}

@media (min-width: 890px) and (max-width: 1299px) {
  .container {
    width: 850px;
  }
}

@media (min-width: 320px) and (max-width: 890px) {
  .container {
    width: 90%;
  }
}