* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham-Black";
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(7px + 2 * ((100vw - 320px) / 530));
  font-family: "Lato-Regular";
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  text-transform: uppercase;
}

.fixed-header {
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #e9e8e8;
}

.fixed-header::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background: #e9e8e8;
  z-index: 2;
}

.header__burger {
  display: none;
  border-radius: 0px;
  background-color: transparent;
}

.header__burger.burger-black {
  border-color: black;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.burger-black span {
  background-color: black;
}

.header__burger.active {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 30px;
  -webkit-transform: rotateZ(450deg);
      -ms-transform: rotate(450deg);
          transform: rotateZ(450deg);
}

.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navmenu .list,
.navmenu .notepad-list,
.navmenu .navmenu__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navmenu .list li,
.navmenu .notepad-list li,
.navmenu .navmenu__submenu li {
  padding-right: 8px;
}

.navmenu .list li:last-child,
.navmenu .notepad-list li:last-child,
.navmenu .navmenu__submenu li:last-child {
  padding: 0px 0px 0px 0px;
}

.navmenu .list li a,
.navmenu .notepad-list li a,
.navmenu .navmenu__submenu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 50px;
  padding: 10px;
  text-decoration: none;
  color: #868686;
}

.navmenu .list li a:hover,
.navmenu .notepad-list li a:hover,
.navmenu .navmenu__submenu li a:hover {
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
  color: white;
  background-color: #ffc155;
}

.navmenu .notepad-list {
  display: none;
  position: relative;
}

.navmenu .notepad-list .show-button:hover {
  color: #868686;
  background: none;
}

.navmenu .notepad-list .show-button.active {
  color: white;
  background-color: #ffc155;
}

.navmenu .navmenu__submenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f0efef;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 320px;
  padding: 10px;
}

.navmenu .navmenu__submenu li {
  padding: 0px 0px 0px 0px;
  min-height: 50px;
}

.navmenu .navmenu__submenu._active {
  visibility: visible;
  opacity: 1;
}

.logo {
  z-index: 2;
}

.logo img {
  width: 40px;
  height: 40px;
}

.footer {
  background-color: goldenrod;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc124;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.fixed {
  overflow: hidden;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #d4c19d;
}

.main__body {
  background-color: wheat;
}

.button {
  background-color: #f1ac11;
  text-align: center;
  width: 83px;
  height: 17px;
  font-family: "";
  text-transform: uppercase;
  font-size: 8px;
  border-radius: 0;
}

.button-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #b9902f;
}

.button-container .button {
  position: relative;
  bottom: 2px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.button-container .button:hover {
  background-color: #ffc94d;
}

.button-container .button:active {
  bottom: 0;
}

.container {
  width: 850px;
}

@media (min-width: 1300px) {
  .header__body {
    width: 80%;
  }

  .footer__body {
    width: 80%;
  }

  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 661px) {
  .navmenu .list,
  .navmenu .notepad-list,
  .navmenu .navmenu__submenu {
    display: none;
  }

  .navmenu .notepad-list,
  .navmenu .navmenu__submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navmenu .navmenu__submenu {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    margin: 0px 16px 0px 0px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }

  .header__burger span {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.2em;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

@media (max-width: 430px) {
  .header__burger {
    width: 35px;
    height: 20px;
  }
}

@media (max-width: 425px) {
  .footer__body {
    width: 90%;
  }

  .main__body {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 880px) {
  .header__body {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .navmenu {
    height: 50px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer__body {
    width: 90%;
  }

  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}